.aside {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}

.avatar {
  padding: 15px;
  margin-top: 5%;
}

.poke-list,
.poke-detail {
  padding: 35px 25px;
}

.poke-list .list-group {
  max-height: 80vh;
  height: 100%;
  overflow: auto;
}

.poke-item {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.poke-list .paginator {
  margin-top: 15px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.details-button {
  display: none;
}

@media (max-width: 991.98px) {
  .poke-list .list-group {
    max-height: 40vh;
  }

  .details-button {
    display: block;
    margin-bottom: 20px;
    text-align: center;
  }

  .avatar {
    margin-top: 0;
  }

  .paginator {
    margin-top: 25px;
  }
}
